/* font-family: 'Roboto', sans-serif; */
* {
    box-sizing: border-box;
}

html body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

img {
    max-width: 100%;
}


ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.header {
    padding: 16px 0 4px;
    border-bottom: 2px solid #ffffff;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 10;
}

.container {
    max-width: 1130px;
    padding: 0px 5px;
    margin: 0 auto;
}

.header__content {
    max-width: 1370px;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.street {
    max-width: 187px;
    min-width: 81px;
}

.logo__img {
    max-width: 100%;
    max-height: 100%;
}


.nav__list {
    display: flex;
    column-gap: 34px;
}

.nav__item {
    border-bottom: 2px solid #ffffff;
}

.nav__item.active {
    border-bottom-color: #ffffff;
}

.nav__link {
    color: #ffffff;
}

.header__contact {
    display: flex;
    column-gap: 52px;
    align-items: center;
    color: #ffffff;
}

.street {
    color: #ffffff;
}



.street__logo::before {
    display: inline-block;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(../img/icons/vector2.svg) no-repeat center/contain;
}



.burger {
    width: 47px;
    height: 31px;
    display: flex;
    display: none;
    align-items: center;
    background-color: #ed7173;
    position: relative;
}

.burger__el,
.burger__el::before,
.burger__el::after {
    display: block;
    height: 5px;
    border-radius: 11px;
    width: 100%;
    background: #CACACA;
}

.burger__el::after,
.burger__el::before {
    content: "";
    position: absolute;
}

.burger__el::before {
    top: 0;
    left: 0;
}

.burger__el::after {
    bottom: 0;
    right: 0;
    width: 39px;
}



.hero {
    height: 100vh;
    background: url(../img/bg/6d7c9c18453f27b3b14dc2b6848cbf46.png) no-repeat center/cover;
    padding-top: 272px;
    color: white;
    display: flex;
    flex-direction: column;
}

.hero::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg rgba(0, 0, 0, 0.6) 0% rgba(0, 0, 0, 0) 100%);
}

.hero__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.hero__main {
    padding-left: 92px;
    flex: 1;
}

.title {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 17px;
}



.hero__btns {
    margin-bottom: 20px;
    display: flex;
    column-gap: 20px;
}

.btn {
    border-radius: 4px;
    background: none;
    min-width: 170px;
    padding: 12px 16px;

}

.btn_theme_white {
    border: 2px solid #ffffff;
    color: #ffffff;

}

.hero__call-to-action-red {
    color: #ed7173;
}

.advantages {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    column-gap: 24px;
}

.hero__advantage {
    flex: 0 1 276px;
}

.advantage_theme_transparet {
    border: 2px solid;
}

.advantage {
    text-align: center;
    border-radius: 4px;
    padding: 16px 20px;

}

.advantage__img {
    width: 30px;
    height: 30px;
}

.advantage__desk {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.food {
    padding: 115px 0px 102px;
}

.food__list {
    display: flex;
    justify-content: space-between;
}

.food__item {
    width: calc(25% - 30px);
}

.product-card {

    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 30px;
}

.product-card__img-wrap {
    width: 100%;
    height: 175px;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 18px;
}

.product-card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 13px;
}

.about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: item-count;
}

.section__tittle {
    justify-content: center;
    color: #E7E7E7;
    ;
}

.about {
    padding: 62px 0px 90px;
    font-size: 20px;
}

.about__container {
    max-width: 922px;
}

.section-title {
    color: #E7E7E7;
    margin-bottom: 14px;
}

.section-subtitle {
    margin-bottom: 30px;
    text-align: center;
}

.about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: item-count;
    row-gap: 45px;
}

.about__item {
    width: 48%;
    padding-top: 56px;
    padding-left: 30px;
    position: relative;
}

.about__item::before {
    counter-increment: item-count;
    content: "0" counter(item-count);
    font-weight: 700;
    font-size: 80px;
    position: absolute;
    line-height: 1;
    color: #E7E7E7;
    left: 0;
    top: 0;
}

.about__item-text {
    margin: 0;
    position: relative;
    z-index: 10;
}

.Benefits {
    background: url(../img/bg/Mask\ group.svg) no-repeat center/cover;
}




.Benefits-text {
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 62px;
    font-size: 54px;
}

.Benefits-text-mini {
    color: #ffffff;
    text-align: center;
    margin-bottom: 60px;
    font-size: 20px;
}

.benefits-heder {
    display: flex;
    column-gap: 24px;
}

.benefits-svg {
    background-color: #ffffff;
    width: 211px;
    min-height: 211px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.text____normel {
    color: black;
    font-size: 16px;
    text-align: center;
}

.work {
    padding-top: 62px;
    padding-bottom: 90px;
}

.container {}

.section-title {}

.section-subtitle {}

.worl__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.work__item {
    flex: 0 1 calc((100% - (20px * 3)) / 4);
}

.work__item:hover .work__item:nth-child(2) {
    opacity: 0;
}

.work__link {
    display: block;
    padding: 100%;
    position: relative;
}

.works__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3;
}

@media (max-width: 960px) {
    .logo {
        max-width: 181px;
    }

    .street {
        display: none;
    }

    .container {
        max-width: 888px;
    }

    .hero {
        padding-top: 210px;
    }


    .hero_main {
        padding-left: 73px;
    }
}

@media (max-width:768px) {
    .container {
        max-width: 725px;
    }

    .logo {
        max-width: 142px;
    }

    .nav {
        display: none;
    }

    .tel__street {
        display: none;
    }

    .header__contacts {
        display: none;
    }

    .hero {
        padding-top: 170px;
    }

    .hero::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 19.11%);
    }

    .hero__main {
        padding-left: 61px;
    }

    .hero__advantage {
        flex: 0 1 221px;
    }

    .advantage {
        font-size: 14px;
        padding: 10px 10px;
    }

    .advantage__img {
        width: 24px;
        height: 24px;
    }

    .burger {
        display: flex;
    }
}